/* All devices up to 480px*/
body{
    background-color:lightsalmon;
}
/* Extra Small devices (phones, 480px and up)*/
@media only screen and (min-width: 480px) { 
	body{
		background-color:lightgreen;
	}
}
/* Small devices (landscape phones, 576px and up)*/
@media only screen and (min-width: 576px) { 
	body{
		background-color:lightblue;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
	body{
		background-color:lightgrey;
	}
}

/* Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 992px) {  
	body{
		background-color:lightskyblue;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {  
	body{
		/*background-color:#00f;*/
		background-color:lightsteelblue;
	}
    /*Menu header*/
    $height-menu-item:40px;
    .parent-menu{
        height:$height-menu-item;
	border:1px solid #000;
        position:relative;
        z-index:1;
        li{
            height:$height-menu-item;
            float:left;
            position:relative;
            min-width:180px;
            a{
                height:$height-menu-item;
                text-transform:uppercase;
                display:block;
		padding:0px 20px;
		box-sizing:border-box;
		text-decoration:none;
		color:#f6f6f6;
		text-align:center;
		background-color:#23b9de;
		border:1px solid #1c8aa6;
                &:hover{
                    color:#000;
                    background-color:#13c6f2;
		}
            }
            & > .parent-menu__child-menu{
		position:absolute;
		left:0px;
		top:$height-menu-item;
		display:none;
            }
            &:hover > .parent-menu__child-menu{
		display:block;
            }
            &:hover > .parent-menu__child-menu.parent-menu__child-menu_offset{
		background-color:red;
		display:block;
		left:180px;
		top:$height-menu-item - 30px;
                border-top:10px solid #d9f0ff;
            }
	}
       
        &:after{
            content:"";
            display:block;
            clear:both;
	}
        &, .parent-menu__child-menu{
            list-style:none;
            margin:0px;
            padding:0px;
            font:12px/28px Verdana,Arial,Helvetica,sans-serif;
            background-color:#444;
	}
    }
  
}  
