/* All devices up to 480px*/
*{
    margin:0;
    padding:0;
}
html, body{
    width:100%;
    height:100%;
    font-family: 'EB Garamond', serif;
    color:#222;
    font-size:16px;
}
.wd-admin-wrapper{
    min-height:100%;
    position:relative;
    margin:0px auto;
    background-color: cornsilk;
    .wd-admin-all_content{
        padding-bottom:40px;
       .wd-admin-header{
           padding-left: 0px;
           padding-right: 0px;
           & > a{
               display:inline-block;
               text-align: center;
               padding:0px 5px;
               font-size:14px;
               span{
                   font-weight: bold;
                   font-size: 1rem;
               }
           }
        }
        .wd-admin-sidebar{
            position:fixed;
            top:0px;
            left:-145px;
            z-index:1;
            
            background-color:purple;
            aside{
                border:1px solid #000;
                #sideBarMenuManage{
                    height:40px;
                    width:130%;
                    position:relative;
                    left:0px;
                    top:-1px;
                    z-index:1;
                    background-color: pink;
                    .fac-rule{
                        font-size:22px;
                        position:relative; 
                        left:42px;
                    }
                }
                .nav{
                    overflow-y: auto;
                }
            }
        }
        .wd-admin-content{
            background-color: #099;
        } 
    }
    .wd-admin-footer{
        height:40px;
        width:100%;
        position:absolute;
        left:0;
        bottom:0;
        background-color: #f00;
        &:after{
            content:"320px";
        }
    }
}

/* Extra Small devices (phones, 480px and up)*/
@media only screen and (min-width: 480px) { 
    .wd-admin-wrapper{
        .wd-admin-all_content{
            padding-bottom:50px;
           .wd-admin-header{

            }
            .wd-admin-sidebar{
                left:-225px;
                aside{
                   
                    #sideBarMenuManage{
                        height:40px;
                        left:0px;
                        width:120%;
                        .fac-rule{
                            left:82px;
                        }
                        
                    }
                    
                }
            }
            .wd-admin-content{
                background-color:#459676;
            } 
        }
        .wd-admin-footer{
            height:50px;
            background-color: #0f0;
            &:after{
                content:"480px";
            }
        }
    }
}
/* Small devices (landscape phones, 576px and up)*/
@media only screen and (min-width: 576px) { 
    .wd-admin-wrapper{
        width:540px;
        .wd-admin-all_content{
            padding-bottom:70px;
           .wd-admin-header{

            }
            .wd-admin-sidebar{
                position:relative;
                overflow-y: visible;
                left:0px;
                top:0px;
                aside{
                   
                    #sideBarMenuManage{
                        display:none;
                        position:static;
                        left:0px;
                        top:0px;
                    }
                    .nav{
                        overflow-y: visible;
                    }
                }
            }
            .wd-admin-content{
                background-color:#e9dc51;
            } 
        }
        .wd-admin-footer{
            height:70px;
            background-color: #0f0;
            &:after{
                content:"576px";
            }
        }
       
        
    }
}

/* Medium devices (tablets, 768px and up)*/
@media only screen and (min-width: 768px) {
    .wd-admin-wrapper{
        width:720px;
       .wd-admin-all_content{
            padding-bottom:80px;
           .wd-admin-header{

            }
            .wd-admin-sidebar{

                aside{
                   
                    #sideBarMenuManage{
                        
                    }
                }
            }
            .wd-admin-content{
                background-color:#bcd42a;
            } 
        }
        .wd-admin-footer{
            height:80px;
            background-color: #00f;
            &:after{
                content:"768px";
            }
        }
    }
}

/* Large devices (desktops, 992px and up)*/
@media only screen and (min-width: 992px) {  
    .wd-admin-wrapper{
        width:960px;
        .wd-admin-all_content{
            padding-bottom:100px;
           .wd-admin-header{

            }
            .wd-admin-sidebar{

                aside{
                   
                    #sideBarMenuManage{
                         display:none;
                        
                    }
                }
            }
            .wd-admin-content{
                background-color:#fce1e5;
            } 
        }
        .wd-admin-footer{
            height:100px;
            background-color: #f00;
            &:after{
                content:"992px";
            }
        }
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media only screen and (min-width: 1200px) {  
    .wd-admin-wrapper{
        width:1140px;
       .wd-admin-all_content{
            padding-bottom:100px;
           .wd-admin-header{

            }
            .wd-admin-sidebar{

                aside{
                   
                    #sideBarMenuManage{
                        display:none;
                    }
                }
            }
            .wd-admin-content{
                background-color:graytext;
            } 
        }
        .wd-admin-footer{
            height:100px;
            background-color: #00f;
            &:after{
                content:"1200px";
            }
        }
        
    }
}  
